<h1 class="title">End of Life 2020</h1>
<div class="book_wrapper">
    <a id="next_page_button"></a>
    <a id="prev_page_button"></a>
    <div id="loading" class="loading">Loading pages...</div>
    <div id="mybook" style="display:none;">
        <div class="b-load">
            <div>
               <h1>Our Project</h1>
               <p>
                Death continues to be a taboo subject within the general public and 
                many may feel uneasy while engaging in conversations with their loved ones 
                about this topic. The need for discussions around end-of-care life is a vital 
                aspect in fulfilling patients’ wishes for the management of health towards 
                the later stages of life.
               </p>
               <br>
               <p>
                This project aims to raise awareness about the importance of advance care 
                planning and to normalize conversations around end-of-life care. We hope 
                that the collated responses to these questions will promote self-reflection 
                on one’s health care wishes and allow others to have a greater insight on 
                this topic. 
               </p>
               <br>
               <p>
                The next step of this project includes an analysis of the collected, 
                anonymized responses and the creation of a summary report highlighting 
                key trends, patterns, and findings. 
               </p>
            </div>
            <div style="width: 100%; height: 97%; overflow: scroll;">
                <h1>Who are we?</h1>
                <p><b>Co-founders:</b> Rachel Tandun & Jamie Park</p>
                <p><b>Engineering Lead:</b> Charlie Yang</p>
                <br>
                <figure class="rachael_jamie_pics">
                  <img src=<%= image_url("rachel.jpg") %> border="1px;" alt="Rachel" style="width:100%">
                  <figcaption style="width: 100%"><p>Rachel</p></figcaption>
                </figure>
                <figure class="rachael_jamie_pics">
                  <img src=<%= image_url("jamie.jpg") %> alt="Jamie" border="1px;" style="width:100%">
                  <figcaption style="width: 100%"><p>Jamie</p></figcaption>
                </figure>
                <p>
                  During their pharmacy school clinical rotations, 
                  Rachel and Jamie have come to realize how the neglect 
                  and absence of advance care planning has compromised the 
                  quality of care patients receive, leading to much uncertainty,
                  confusion, and regret among family members and loved ones. This
                  led to the birth of this project - The End: A Hopeful
                  Chapter of Life. 
                </p>
                <br>
                <p>
                  Rachel and Jamie hope to empower the general public with taking 
                  charge of their healthcare management, engaging in conversations,
                  and dispelling any fears that are often associated with end-of-life care.
                  Through this online avenue, helpful resources can also be shared to a 
                  wider audience of varying ages, cultures, and geographical location. 
                </p>
            </div>
            <div>
                <figure class="charlie_pic">
                  <img src=<%= image_url("charlie.jpg") %> border="1px;" alt="Charlie" style="width:100%">
                  <figcaption style="width: 100%"><p>Charlie</p></figcaption>
                </figure>
                <p>
                  Charlie is a software engineer at Google Health and has graduated from
                  the University of Toronto studying Engineering Science, Electrical 
                  and Computer Engineering major. He is genuinely passionate about the 
                  healthcare field and making a positive impact through the use of technology.
                  It has been a great pleasure for him to join Rachel and Jamie and develop 
                  an application for this project.
                </p>
            </div>
            <div>
                <h1>Acknowledgement</h1>
                <p>This project is funded by the 2019 UBC Connect to Community Grant. </p>
                <br>
                <h1>Resources</h1>
                <p>
                <ul style="padding-left: 35px; font-size: 16px">
                    <li><a href="https://www.health.gov.bc.ca/library/publications/year/2013/MyVoice-AdvanceCarePlanningGuide.pdf">Advance Care Planning (ACP) Workbook</a></li>
                    <li><a href="http://bc-cpc.ca/cpc/all-resources/hcp-resources/resources/#field_17_36">Advance Care Planning (ACP) Conversation Starters</a></li>
                    <li><a href="https://bc-cpc.ca/cpc/all-resources/individuals/acp-resources/about-acp">BC Centre for Palliative Care Advance Care Planning (ACP) Resources</a></li>
                    <li><a href="https://www2.gov.bc.ca/gov/content/family-social-supports/seniors/health-safety/advance-care-planning">BC Ministry of Health on Advance Care Planning (ACP)</a></li>
                    <li><a href="https://www.healthlinkbc.ca/health-topics/aa114595#aa114652">HealthLink BC on Advance Care Planning (ACP)</a></li>
                    <li><a href="https://www.advancecareplanning.ca">Speakup Canada Advance Care Planning (ACP)</a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- The JavaScript -->

<script type="text/javascript">
    $(function() {
        var $mybook 		= $('#mybook');
        var $bttn_next		= $('#next_page_button');
        var $bttn_prev		= $('#prev_page_button');
        var $loading		= $('#loading');
        var $mybook_assets	= $mybook.find('img');
        var cnt_assets		= $mybook_assets.length;
        var loaded			= 0;
        //preload all the /assets in the book,
        //and then call the booklet plugin

        $mybook_assets.each(function(){
            var $img 	= $(this);
            var source	= $img.attr('src');
            $('<img/>').load(function(){
                ++loaded;
                if(loaded == cnt_assets){
                    $loading.hide();
                    $bttn_next.show();
                    $bttn_prev.show();
                    $mybook.show().booklet({
                        name:               null,                            // name of the booklet to display in the document title bar
                        width:              1080,                             // container width
                        height:             665,                             // container height
                        speed:              600,                             // speed of the transition between pages
                        direction:          'LTR',                           // direction of the overall content organization, default LTR, left to right, can be RTL for languages which read right to left
                        startingPage:       0,                               // index of the first page to be displayed
                        easing:             'easeInOutQuad',                 // easing method for complete transition
                        easeIn:             'easeInQuad',                    // easing method for first half of transition
                        easeOut:            'easeOutQuad',                   // easing method for second half of transition

                        closed:             false,                           // start with the book "closed", will add empty pages to beginning and end of book
                        closedFrontTitle:   null,                            // used with "closed", "menu" and "pageSelector", determines title of blank starting page
                        closedFrontChapter: null,                            // used with "closed", "menu" and "chapterSelector", determines chapter name of blank starting page
                        closedBackTitle:    null,                            // used with "closed", "menu" and "pageSelector", determines chapter name of blank ending page
                        closedBackChapter:  null,                            // used with "closed", "menu" and "chapterSelector", determines chapter name of blank ending page
                        covers:             false,                           // used with  "closed", makes first and last pages into covers, without page numbers (if enabled)

                        pagePadding:        10,                              // padding for each page wrapper
                        pageNumbers:        true,                            // display page numbers on each page

                        hovers:             false,                            // enables preview pageturn hover animation, shows a small preview of previous or next page on hover
                        overlays:           false,                            // enables navigation using a page sized overlay, when enabled links inside the content will not be clickable
                        tabs:               false,                           // adds tabs along the top of the pages
                        tabWidth:           60,                              // set the width of the tabs
                        tabHeight:          20,                              // set the height of the tabs
                        arrows:             false,                           // adds arrows overlayed over the book edges
                        cursor:             'pointer',                       // cursor css setting for side bar areas

                        hash:               false,                           // enables navigation using a hash string, ex: #/page/1 for page 1, will affect all booklets with 'hash' enabled
                        keyboard:           true,                            // enables navigation with arrow keys (left: previous, right: next)
                        next:               $bttn_next,          			// selector for element to use as click trigger for next page
                        prev:               $bttn_prev,          			// selector for element to use as click trigger for previous page

                        menu:               null,                            // selector for element to use as the menu area, required for 'pageSelector'
                        pageSelector:       false,                           // enables navigation with a dropdown menu of pages, requires 'menu'
                        chapterSelector:    false,                           // enables navigation with a dropdown menu of chapters, determined by the "rel" attribute, requires 'menu'

                        shadows:            true,                            // display shadows on page animations
                        shadowTopFwdWidth:  166,                             // shadow width for top forward anim
                        shadowTopBackWidth: 166,                             // shadow width for top back anim
                        shadowBtmWidth:     50,                              // shadow width for bottom shadow

                        before:             function(){},                    // callback invoked before each page turn animation
                        after:              function(){}                     // callback invoked after each page turn animation
                    });
                    Cufon.refresh();
                }
            }).attr('src',source);
        });
				
    });
</script>